parameters:
    level: max
    paths:
        - src
        - tests
    tmpDir: var/phpstan
    type_coverage:
        return: 100
        param: 100
        property: 100
        constant: 100
        declare: 100
